body {
    background-color: black; 
    color: #bfafbe; 
    font-family: sans-serif; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: crosshair;
    
}

div {

    background: linear-gradient(black) padding-box,
              linear-gradient(to right, #9bdae8 0%, #f2b3e8 100%) 
              border-box;
    border-radius: 20px;
    border: 2px solid transparent;
    margin: 2%;
    padding: 3%; 
    text-align: center;
    
}

#intro {
    max-width: 70%; 
    
}

h1 {
    color: #AAAAAA;
    background: -webkit-linear-gradient(#9bdae8, #f2b3e8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Helvetica, Arial, sans-serif;
    font-size: xx-large; 
    padding-bottom: 2%;
}

#intro p {
    font-size:smaller;
}

h2 {
    font-family: Helvetica, Arial, sans-serif;
    color: #AAAAAA;
    background: -webkit-linear-gradient(#9bdae8, #f2b3e8);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#buttons {
    font-size: xx-large;
    padding: 2%;
    width: 20%; 
    text-align: center;
    font-weight: bold;
    color: #AAAAAA; 
    text-shadow:
     -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
}
#image-holder {
    display:inline-block;
    position: absolute;
    top: 10%;
    border: 0;
    border-radius: 0;
    margin: 0; 
    opacity: .2;
}

